# SQOOP COMMANDS

## 1) List all warehouse directory of hdfs. Remove is exist

In [7]:
%%sh 

hdfs dfs -ls /

# hdfs dfs -rm -R /employee_data

Found 3 items
drwxr-xr-x   - root supergroup          0 2023-01-28 23:59 /employee_data
drwx-wx-wx   - root supergroup          0 2023-02-02 23:18 /tmp
drwxr-xr-x   - root supergroup          0 2023-01-29 21:57 /user

## 2)Display the list of tables in the database in  mysql using sqoop command

In [2]:
%%sh

sqoop list-tables \
                --connect jdbc:mysql://localhost:3306/big_data \
                --username root \
                --password Root123@

Warning: /root/sqoop-1.4.7/../hbase does not exist! HBase imports will fail.
Please set $HBASE_HOME to the root of your HBase installation.
Warning: /root/sqoop-1.4.7/../hcatalog does not exist! HCatalog jobs will fail.
Please set $HCAT_HOME to the root of your HCatalog installation.
Warning: /root/sqoop-1.4.7/../accumulo does not exist! Accumulo imports will fail.
Please set $ACCUMULO_HOME to the root of your Accumulo installation.
Warning: /root/sqoop-1.4.7/../zookeeper does not exist! Accumulo imports will fail.
Please set $ZOOKEEPER_HOME to the root of your Zookeeper installation.

23/02/02 23:17:30 INFO sqoop.Sqoop: Running Sqoop version: 1.4.7
23/02/02 23:17:30 WARN tool.BaseSqoopTool: Setting your password on the command-line is insecure. Consider using -P instead.
23/02/02 23:17:30 INFO manager.MySQLManager: Preparing to use a MySQL streaming resultset.
Loading class `com.mysql.jdbc.Driver'. This is deprecated. The new driver class is `com.mysql.cj.jdbc.Driver'. The driver is automatically registered via the SPI and manual loading of the driver class is generally unnecessary.

departments
dept_emp
dept_manager
employees
salaries
titles

Thu Feb 02 23:17:31 IST 2023 WARN: Caught while disconnecting...

EXCEPTION STACK TRACE:



** BEGIN NESTED EXCEPTION **

javax.net.ssl.SSLException
MESSAGE: closing inbound before receiving peer's close_notify

STACKTRACE:

javax.net.ssl.SSLException: closing inbound before receiving peer's close_notify
	at sun.security.ssl.SSLSocketImpl.shutdownInput(SSLSocketImpl.java:740)
	at sun.security.ssl.SSLSocketImpl.shutdownInput(SSLSocketImpl.java:719)
	at com.mysql.cj.protocol.a.NativeProtocol.quit(NativeProtocol.java:1312)
	at com.mysql.cj.NativeSession.quit(NativeSession.java:182)
	at com.mysql.cj.jdbc.ConnectionImpl.realClose(ConnectionImpl.java:1750)
	at com.mysql.cj.jdbc.ConnectionImpl.close(ConnectionImpl.java:720)
	at org.apache.sqoop.manager.GenericJdbcManager.discardConnection(GenericJdbcManager.java:78)
	at org.apache.sqoop.manager.GenericJdbcManager.close(GenericJdbcManager.java:88)
	at org.apache.sqoop.tool.BaseSqoopTool.destroy(BaseSqoopTool.java:305)
	at org.apache.sqoop.tool.ListTablesTool.run(ListTablesTool.java:60)
	at org.apache.sqoop.Sqoop.run(Sqoop.java:147)
	at org.apache.hadoop.util.ToolRunner.run(ToolRunner.java:70)
	at org.apache.sqoop.Sqoop.runSqoop(Sqoop.java:183)
	at org.apache.sqoop.Sqoop.runTool(Sqoop.java:234)
	at org.apache.sqoop.Sqoop.runTool(Sqoop.java:243)
	at org.apache.sqoop.Sqoop.main(Sqoop.java:252)


** END NESTED EXCEPTION **

# 3)Import all tables into hdfs(warehouse) using sqoop command

In [ ]:
%%sh 

sqoop import-all-tables \
                -Dmapreduce.job.classloader=true \
                -Dmapreduce.job.user.classpath.first=true \
                --connect jdbc:mysql://localhost:3306/big_data \
                --username root --password Root123@ \
                --warehouse-dir=/employee_data \
                --driver com.mysql.jdbc.Driver \
                --m 1

# 4) Check whether the data is moved to HDFS or not

In [9]:
%%sh

hdfs dfs -ls /employee_data

Found 6 items
drwxr-xr-x   - root supergroup          0 2023-01-29 20:58 /employee_data/departments
drwxr-xr-x   - root supergroup          0 2023-01-28 23:54 /employee_data/dept_emp
drwxr-xr-x   - root supergroup          0 2023-01-28 23:55 /employee_data/dept_manager
drwxr-xr-x   - root supergroup          0 2023-01-28 23:57 /employee_data/employees
drwxr-xr-x   - root supergroup          0 2023-01-28 23:58 /employee_data/salaries
drwxr-xr-x   - root supergroup          0 2023-01-28 23:59 /employee_data/titles

In [11]:
%%sh

hdfs dfs -ls /employee_data/departments
hdfs dfs -ls /employee_data/dept_emp
hdfs dfs -ls /employee_data/dept_manager
hdfs dfs -ls /employee_data/employees
hdfs dfs -ls /employee_data/salaries
hdfs dfs -ls /employee_data/titles

Found 3 items
drwxr-xr-x   - root supergroup          0 2023-01-29 20:58 /employee_data/departments/.metadata
-rw-r--r--   1 root supergroup          0 2023-01-28 23:53 /employee_data/departments/_SUCCESS
-rw-r--r--   1 root supergroup        171 2023-01-28 23:53 /employee_data/departments/part-m-00000
Found 2 items
-rw-r--r--   1 root supergroup          0 2023-01-28 23:54 /employee_data/dept_emp/_SUCCESS
-rw-r--r--   1 root supergroup    3879767 2023-01-28 23:54 /employee_data/dept_emp/part-m-00000
Found 2 items
-rw-r--r--   1 root supergroup          0 2023-01-28 23:55 /employee_data/dept_manager/_SUCCESS
-rw-r--r--   1 root supergroup        288 2023-01-28 23:55 /employee_data/dept_manager/part-m-00000
Found 2 items
-rw-r--r--   1 root supergroup          0 2023-01-28 23:57 /employee_data/employees/_SUCCESS
-rw-r--r--   1 root supergroup   17720578 2023-01-28 23:57 /employee_data/employees/part-m-00000
Found 2 items
-rw-r--r--   1 root supergroup          0 2023-01-28 23:58 /employee_data/salaries/_SUCCESS
-rw-r--r--   1 root supergroup    3811601 2023-01-28 23:58 /employee_data/salaries/part-m-00000
Found 2 items
-rw-r--r--   1 root supergroup          0 2023-01-28 23:59 /employee_data/titles/_SUCCESS
-rw-r--r--   1 root supergroup        130 2023-01-28 23:59 /employee_data/titles/part-m-00000