# IMPORT_DATA_USING_SPARK

In [5]:
import pyspark
from pyspark.sql import SparkSession

# Creating  a SPARK session

In [1]:
spark = SparkSession \
    .builder \
    .appName("IMPORT-DATA-USING-SPARK") \
    .getOrCreate()
spark
#spark.sparkContext.getConf().getAll()

In [4]:
spark.sql("show databases ").show()

+------------+
|databaseName|
+------------+
|     default|
|         emp|
+------------+

# Create a Database

In [3]:
spark.sql("create database emp")
spark.sql("use emp")
# spark.sql("drop table emp.departments")
# spark.sql("drop table emp.employee")
# spark.sql("drop table emp.dept_emp")
# spark.sql("drop table emp.dept_manager")
# spark.sql("drop table emp.salaries")
# spark.sql("drop table emp.titles")

DataFrame[]

# Import all tables into HIVE(warehouse) one-by-one using SPARK Commands

In [15]:
df1 = spark.read.load("file:///root/employee-data/Data/departments.csv",format="csv", sep=",", inferSchema="true", header="true")
df1.createOrReplaceTempView("departments")
spark.sql("create table emp.departments SELECT * FROM departments")
spark.sql("select count(*) from emp.departments").show()

+--------+
|count(1)|
+--------+
|       9|
+--------+

In [16]:
df2 = spark.read.load("file:///root/employee-data/Data/employees.csv", format="csv", sep=",", inferSchema="true", header="true")
df2.createOrReplaceTempView("employees")
spark.sql("create table emp.employees select * from employees")
spark.sql("select count(*) from emp.employees ").show()

+--------+
|count(1)|
+--------+
|  300024|
+--------+

In [17]:
df3 = spark.read.load("file:///root/employee-data/Data/dept_emp.csv",format="csv", sep=",", inferSchema="true", header="true")
df3.createOrReplaceTempView("dept_emp")
spark.sql("CREATE TABLE emp.dept_emp  SELECT * FROM dept_emp ")
spark.sql("select count(*) from emp.dept_emp ").show()

+--------+
|count(1)|
+--------+
|  331603|
+--------+

In [18]:
df4 = spark.read.load("file:///root/employee-data/Data/dept_manager.csv",format="csv", sep=",", inferSchema="true", header="true")
df4.createOrReplaceTempView("dept_manager")
spark.sql("CREATE TABLE emp.dept_manager  SELECT * FROM dept_manager ")
spark.sql("select count(*) from emp.dept_manager").show()

+--------+
|count(1)|
+--------+
|      24|
+--------+

In [19]:
df5 = spark.read.load("file:///root/employee-data/Data/salaries.csv",format="csv", sep=",", inferSchema="true", header="true")
df5.createOrReplaceTempView("salaries")
spark.sql("CREATE TABLE emp.salaries  SELECT * FROM salaries ")
spark.sql("select count(*) from emp.salaries ").show()

+--------+
|count(1)|
+--------+
|  300024|
+--------+

In [21]:
df6 = spark.read.load("file:///root/employee-data/Data/titles.csv",format="csv", sep=",", inferSchema="true", header="true")
df6.createOrReplaceTempView("titles")
spark.sql("CREATE TABLE emp.titles  SELECT * FROM titles ")
spark.sql("select count(*) from emp.titles ").show()

+--------+
|count(1)|
+--------+
|       7|
+--------+